<h1>Generate Matrix Chart of Confidence</h1>
<%= form_with url: converse_api_generate_matrix_path, method: :post, multipart: true do |f| %>
  <div class="form-item">
    <p><strong><%= f.label :protocol, 'Protocol' %></strong></p>
    <p><%= f.select :protocol, [['http'], ['https']], { selected: 'http' } %></p>
  </div>
  <div class="form-item">
    <p><strong><%= f.label :host, 'Host' %></strong></p>
    <p class="note">* Port is required in the local environment</p>
    <p><%= f.text_field :host %></p>
  </div>
  <div class="form-item">
    <p><strong><%= f.label :bot_id, 'Bot ID' %></strong></p>
    <p><%= f.text_field :bot_id %></p>
  </div>
  <div class="form-item">
    <p><strong><%= f.label :user_id, 'User ID' %></strong></p>
    <p><%= f.text_field :user_id %></p>
  </div>
  <div class="form-item">
    <p><strong><%= f.label :bearer_token, 'Bearer Token' %></strong></p>
    <p><%= f.text_area :bearer_token, size: '100x5' %></p>
  </div>
  <div class="form-item">
    <p><strong><%= f.label :csv_test_data, 'Choose CSV Test Data' %></strong></p>
    <p><%= f.file_field :csv_test_data, accept: '.csv' %></p>
  </div>
  <div class="form-item">
    <p><%= f.submit 'Generate Matrix Chart', class: 'btn btn-primary' %></p>
  </div>
<% end %>
